* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url('images/canada_background.jpeg');
   background-repeat: no-repeat;
   font-size: 18px;
}

table {
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
}

#hotel_name a {
   font-family: 'Comic Sans MS', 'times new roman', 'serif';
   font-size: 32px;
   padding: 5px 5px 10px 5px;
   font-weight: bold;
   text-decoration: none;
}

#hotel_name a:visited {
   color: black
}

#navbar_toronto td {
   text-align: center;
   font-weight: bold;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: hsl(241, 100%, 37%);
   border-radius: 15px 15px 0px 0px
}

#navbar_toronto td ul li {
   display: inline;
   /* word-spacing: 20px; */
   padding-right: 30px;
}

#navbar_toronto td ul li a {
   color: white;
   text-decoration: none;
}

#navbar_toronto td ul li a:hover {
   color: hsl(17, 100%, 68%)
}

#toronto_image td img {
   width: 1000px;
   height: 350px;
   border-radius: 0px 0px 16px 16px;
}

#hotel_bar {
   padding-top: 60px;
   vertical-align: top;
   padding-left: 14px;
}

#hotel_bar ul li {
   list-style-type: none;
   line-height: 40px;
   font-size: 18px;
}

#hotel_bar ul li a {
   color: hsl(241, 100%, 37%);
   text-decoration: none;
   transition: color 0.46s ease-out;
   transition: font-size 0.46s ease-out;
}

#hotel_bar ul li a:hover {
   font-size: 19px;
   color: orangered;
}

#main_content img {
   width: 9.5em;
   height: 9.5em;
   float: right;
   margin: 1.2em 1.2em 1.2em 1.2em;
   border-radius: 16px;
   transition: height 0.2s ease-in, width 0.2s ease-in, margin 0.2s ease-in
}

#main_content img:hover {
   height: 9.7em;
   width: 9.7em;
   margin: 1.1em 1.1em 1.1em 1.1em;
}

.main_content_heading {
   transform: translate(1em, 0px);
   transition: 4s transform ease-in-out;
   padding: 10px;
   font-family: 'Comic Sans MS', 'times new roman', 'serif';
   color: hsl(17, 100%, 48%)
}

#main_content h4 {
   font-family: 'Comic Sans MS', 'times new roman', 'serif';
   color: hsl(241, 100%, 37%);
}

#main_content p {
   padding: 12px;
   letter-spacing: 1.001px;
}

#footer_1 {
   font-family: Arial, Helvetica, sans-serif;
   height: 10em;
   text-align: center;
   vertical-align: center;
   line-height: 2em;
   background-color: lightsalmon;
   border-radius: 1.47em 0em 0em 0em;
}

#footer_1 ul {
   list-style-type: none;
}

#footer_2 {
   font-family: Arial, Helvetica, sans-serif;
   height: 10em;
   text-align: center;
   vertical-align: center;
   line-height: 2em;
   background-color: lightblue;
   border-radius: 0em 1.47em 0em 0em
}

#footer_2 ul {
   list-style-type: none;
}